.btnContainer {
  text-align: center;
  margin-bottom: auto;
  transform: translateY(-35px);
}

.followBtn {
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  border: none;
  background-color: #529ecc;
  color: #f6f6f6;
  cursor: pointer;
}
