.replyList_Wrapper {
  composes: postNotesList from '../../App.css';
}

.reply__flex {
  composes: postNotesList__item from '../../App.css';
}

.reply__pfp {
  composes: postNotesList__pfp from '../../App.css';
}

.reply__textWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

.reply__header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.reply__uname,
.reply__reminder {
  font-size: 0.8125rem;
  font-weight: 500;
}

.reply__reminder {
  background-color: #ffccff;
  color: #5f005f;
  border-radius: 4px;
  padding: 2px;
}

.reply__delBtn {
  margin-left: auto;
  border: none;
  background-color: inherit;
  cursor: pointer;

  & svg {
    width: 25px;
    height: auto;
  }
}
