.fileInputLabel {
  cursor: pointer;

  & svg {
    border-radius: 4px;
    width: 32px;
    height: auto;
    background-color: #00000087;
    & path {
      fill: #fff;
    }
  }
}

.fileInput,
.fileSpan {
  width: 1px;
  height: 1px;
  overflow: hidden;
  display: inline-block;
}

.settings__headerImgInput_wrapper {
  position: absolute;
  right: 0.5rem;
  top: 66px;
}

.settings__warning {
  padding: 0.5rem 1rem;
  background-color: #ff9f9f;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  border: 3px solid #000;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .settings__headerImgInput_wrapper {
    top: 108px;
  }
}

@media (min-width: 1280px) {
  .settings__headerImgInput_wrapper {
    top: 66px;
  }
}

.settings__btnWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  .settings__btnWrapper {
    padding-top: 3.5rem;
  }
}

@media (min-width: 1280px) {
  .settings__btnWrapper {
    padding-top: 1rem;
  }
}

.settings__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.settings__btn--logout {
  background-color: #ffb4b4;
}

.settings__pfpInputWrapper {
  position: absolute;
  top: 25%;
}

.settings__aboutInput {
  font-family: inherit;
  scrollbar-width: thin;
  height: 250px;
  border-radius: 8px;
  padding: 0.5rem;
  resize: none;
}
