.postForm__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 700;
  background-color: #fff;
  width: 100%;
  max-width: 480px;
  overflow: hidden;
}

.postForm__header {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.7rem var(--post-padding);
  border-bottom: 1px solid #c1c1c1;
}

.user_pfp {
  width: var(--pfp-width);
}

@media (min-width: 768px) {
  .postForm__wrapper {
    border-radius: 12px;
  }
}

.postForm__username {
  font-weight: 500;
  font-size: 0.875rem;
  color: #000;
}

.postForm__inputWrapper {
  display: flex;
}

.postForm__formDiv--botBorder {
  border-bottom: 1px solid #c1c1c1;
  padding: 0 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.postForm__label {
  display: inline-block;
  width: 1px;
  height: 1px;
  flex-grow: 0;
  overflow: hidden;
}

.postForm__label--photo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  color: #4a4a4a;
  height: var(--post-form-height);
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-bottom: 1px dashed #000;

  & svg {
    width: 100px;
    height: auto;
  }
}

.postForm__input {
  scrollbar-width: thin;
  padding: 1rem;
  width: 100%;
  font-family: inherit;
  resize: none;
  border: none;
  height: var(--post-form-height);

  &:focus {
    outline: none;
  }
}

.postForm__input--photo {
  width: 1px;
  overflow: hidden;
  height: 1px;
}

.postForm__input--quote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: clamp(1rem, 5vw, 2rem);
}

.postForm__input--chat {
  font-family: 'Courier New', Courier, monospace;
}

.postForm__imgWrapper {
  width: 100%;
  max-height: var(--post-form-height);
  scrollbar-width: thin;
  margin-bottom: 1rem;
  position: relative;
  overflow-y: scroll;

  & img {
    width: 100%;
    height: auto;
  }

  & button {
    position: fixed;
    top: 60px;
    right: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ff0000;
    color: #fff;
    padding: 0.2rem 0.5rem;
    border: none;
    font-size: 1rem;

    &:hover {
      background-color: #b20000;
    }
  }
}

.postForm__img--exceeded {
  filter: blur(5px) grayscale(90%);
}

.postForm__warning {
  font-size: 1.125rem;
  font-weight: 600;
  color: #f40202;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.postForm__tagWrapper {
  display: inline-block;
  vertical-align: top;
  position: relative;
  min-width: 2rem;
  min-height: 2rem;
  max-width: 100%;
}

.postForm__tagSpan {
  display: inline-block;
  visibility: hidden;
  white-space: pre-wrap;
  width: 100%;
  padding: 0.5rem;
  word-wrap: break-word;
}

.postForm__tag {
  position: absolute;
  font-family: inherit;
  top: 0;
  left: 0;
  background-color: #e9e9ed;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  max-width: 100%;
  width: 100%;
  height: 100%;
  resize: none;
  overflow: hidden;
}

.postForm__tagBtn,
.postForm__btn {
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 0.7rem;
  color: #606162;
  font-size: 0.9375rem;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    color: #000;
    background-color: #e9e9ed;
  }
}

.postForm__btnWrapper {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.postForm__btn {
  font-weight: 500;
  font-size: 1rem;
}
