@font-face {
  font-family: SixtyFour;
  src: url('./assets/fonts/SixtyFour/Sixtyfour-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Rubik;
  src: url('./assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Rubik;
  src: url('./assets/fonts/Rubik/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Rubik;
  src: url('./assets/fonts/Rubik/Rubik-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Rubik;
  src: url('./assets/fonts/Rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Rubik;
  src: url('./assets/fonts/Rubik/Rubik-Italic.ttf') format('truetype');
  font-style: italic;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
}

html,
body {
  height: 100%;
}

:root {
  --bg-color: #001935;
  --font-color: #fff;
  --menu-color: #a6afb8;
  --menu-bg-hover: #244368;
  --mobile-pad: 1rem;
  --tab-pad: 2rem;
  --pfp-width: 1.875rem;
  --post-padding: 1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

ul {
  list-style: none;
}

#root {
  max-width: 1100px;
  /* might remove this since you want to have infinite scroll on dashboard */
  min-height: 100%;
  margin: 0 auto;
  /* padding: 1rem; */
  /* Apply padding to child elements */
  font-family: Rubik, 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}

/* @media (min-width: 768px) {
  #root {
    padding: 2rem;
  }
} */

main {
  flex-grow: 1;
}
