@font-face {
  font-family: SixtyFour;
  src: url('./assets/fonts/SixtyFour/Sixtyfour-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Rubik;
  src: url('./assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Rubik;
  src: url('./assets/fonts/Rubik/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Rubik;
  src: url('./assets/fonts/Rubik/Rubik-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Rubik;
  src: url('./assets/fonts/Rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Rubik;
  src: url('./assets/fonts/Rubik/Rubik-Italic.ttf') format('truetype');
  font-style: italic;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #001935;
  color: #fff;
}

#root {
  min-height: 100%;
  padding: 3.5rem 1rem 1rem;
  font-family: Rubik, 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
